@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
  @apply overflow-x-hidden bg-(--secondary-bg) h-[100%] box-border;
}
svg>path,svg>g>path {
  @apply transition-all duration-300 ease-in-out;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

  .dark {
    --bg-white: #141414;
    --bg-white-50: #1d1d1d;
    --bg-black: #1d1d1d;

    --btn-bg-white: #ffffff;
    --btn-bg-black: transparent;

    --bg-white-transparent-2: rgba(20, 20, 20, 0.4);

    --bg-gray-100: #191919;
    --bg-gray-200: #191919;
    --bg-gray-300: #191919;

    /* --text-white:#000000; */
    --text-black: #ffffff;

    --text-gray-200: #cccccc;
    --text-gray-300: #999999;
    --text-gray-400: #999999;

    --border-black: #262626;
    --border-gray-100: #262626;
    --border-gray-300: #262626;
  }
}

@layer components {

    .btn-primary {
      @apply bg-(--primary-bg) text-(--text-white) capitalize rounded-lg border border-(--border-primary) transition duration-500 ease-in-out cursor-pointer hover:bg-(--bg-white) hover:text-(--text-primary)
  }

  .login-form-para {
   @apply font-urbanist font-light text-base sm:text-lg text-(--text-white) text-center leading-[24px] sm:leading-[26px] tracking-[-0.04px];
  }
.form-blur-50::before {
  @apply content-[''] absolute top-0 left-[-25px] bottom-0 h-full z-[-1] 
         backdrop-blur-[6px] [width:calc(100%-50%)] [transform:skewX(355deg)];
}

.form-bg::after {
  @apply content-[''] absolute inset-0 h-full z-[-1] bg-[linear-gradient(201deg,rgba(0,0,0,1)20%,rgba(0,0,0,0.5)60%,rgba(0,0,0,1)80%)] backdrop-blur-[4px];
}

}

@layer utilities {}

@theme {
  /* --breakpoint-*: initial; */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;

  --primary-bg: #1E9119;
  --secondary-bg: #F5FFF9;

  --bg-white: #ffffff;
  --bg-white-50: #FDFDFD;
  --bg-white-transparent-1: rgba(255, 255, 255, 0.1);
  --bg-white-transparent-2: rgba(255, 255, 255, 0.5);
  --bg-black: #000000;
  --bg-red-50: #ffebeb;
  --bg-gray-100: #F0F0F0;
  --bg-gray-200: #F2F0F1;
  --bg-gray-300: #F0EEED;

  --btn-bg-white: #ffffff;
  --btn-bg-black: #000000;

  --black-grey-grad: 

  --btn-text-white: #ffffff;
  --btn-text-black: #000000;


  /* default tailwind 4 text color classes over ride */
  --text-primary: #1E9119;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-yellow-400: #FFC633;
  --text-gray-300: #747681;
  --text-gray-400: #616060;
  --text-gray-500: #666666;
  --text-gray-800:#04091E;
  --text-gray-900:#030303;
  --text-red-600: #FF3333;
  --text-green-500: #01AB31;

  --border-primary:#1E9119;
  --border-black: #000000;
  --border-gray-50: #D2D2D2;

  --soft-shadow: -0.5px -0.5px #fff, 1px 1px #999999;

}